/* Especificidad 0,0,1*/
body{
    background-color:#ffffff;
    text-align: center;
    color:#000000;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
}

/* Especificidad 0,0,1*/
button{
    width: 15%;
    margin-bottom: 1%;
}